page-home {
  .small {
    font-size: 0.8em;
  }
  .avatar {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-right: 0.5em;
  }
  h3 {
    font-weight:300;
  }
  .item {
    padding-left: 8px;
  }
  .item-inner {
    padding-right:12px!important;
  }
  .content ion-label {
    margin: 0;
  }
  .onboarding {
    background-image: url('../assets/images/musicmashup-onboarding.jpg');
    background-size: cover;
    background-position: 50%;
    height:100%;
  }
  .onboarding ion-row {
    height: 100%;
    padding-bottom: 128px;
  }
  .onboarding-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .centered{
    display: flex;
    align-items: center;
  }
  .centered i {
    font-size: 2.5em;
  }
  .no-search {
    height: 100%;
  }
  .no-search i {
    font-size: 10em;
  }
  .player {
    padding: 8px 16px;
    background-color: #fafafa;
  }
  .player ion-col h3 {
    margin: 0;
  }
  .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

  .progress {
    position: absolute;
    bottom:0;
  }
  .progress ion-item {
    background-color: transparent;
  }
  .progress .item-inner {
    border:none;
  }
}
