<ion-header>
  <ion-navbar color="primary">
    <now-playing-header [pageTitle]="'History'"></now-playing-header>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let video of room.history">
      <ion-row>
        <ion-col class="centered" width-33>
          <img src="{{video.thumbUrl}}"/>
        </ion-col>
        <ion-col width-67>
          <ion-row class="centered">
            <ion-col width-90>
              <h2 class="overflow">{{video.title}}</h2>
              <span class="muted small">04:03</span>
              <ion-row>
                <ion-col>
                  <img class="avatar" src="assets/images/background-landing.jpg"/>
                  <span class="muted small">Pascal Brun</span>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col text-center width-10>
              <span>{{video.voteCount}}</span>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

  <ion-row *ngIf="room.history.length==0" class="no-search muted" text-center>
    <ion-col>
      <i class="material-icons">sentiment_dissatisfied</i>
      <h5>Nothing is in the history, get on it and start listening to music!</h5>
    </ion-col>
  </ion-row>

</ion-content>
