.search {
  .no-padding {
    padding: 2px 0;
  }
  .item img{
    padding-left: 8px;
  }
  .item {
    padding:0px;
  }
  .no-search {
    height: 100%;
  }
  .no-search i {
    font-size: 10em;
  }
}
ion-searchbar{
  background-color: color($colors, primary);
}