// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.muted {
  color: color($colors, muted);
}
ion-footer {
  border-top: 1px solid color($colors, shadow);
  .text-input, span {
    padding-left: 16px;
  }
  .text-input {
    margin:0!important;
  }
}
.4dp-elevation {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
  }
.icon-padding {
  padding-right: 8px;
}

.overflow, .overflow-large {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.overflow {
  max-width: 24ch;

}
.overflow-large {
  max-width: 30ch;
}

.platform-core .browser-hidden{
  display:none!important;
}

.item-checkbox .item-inner{
  border-bottom:0!important;
}
.no-padding {
  padding:0;
}
.playing-now .toolbar-title {
  font-size: 1em;
  ion-col {
    padding:0;
  }
  .muted {
    color: rgba(255,255,255,0.8);
  }
}


// Material design only

.tab-button[aria-selected=true] {
  border-bottom: 2px solid color($colors, secondary);
}
ion-tabs[primary] tabbar tab-highlight {
  background: color($colors, secondary); }
