.home {
  .small {
    font-size: 0.8em;
  }
  .avatar {
    width: 20px;
    height: 20px;
    border-radius: 10px;
  }
  .item {
    padding-left: 8px;
  }
  .item-inner {
    padding-right:8px!important;
  }
}
