.host-party {
  color:#ffffff;

  background-image: url('../assets/background-landing.jpg');
  background-size: cover;
  background-position: 32%;

  .transparent {
    color:#ffffff!important;
    background-color:transparent;
  }
  .beacon-icon {
    font-size: 3em;
  }
  input::-webkit-input-placeholder {
    color:    #ffffff;
  }
  .input-has-focus ion-label[floating] {
    color: color($colors, secondary);
  }
  .item-input.input-has-focus::after, .item-input.ng-invalid.ng-touched::after, .item-input.ng-valid.input-has-value::after, .item-input.ng-invalid.ng-touched.input-has-focus::after {
    border-bottom-color: color($colors, secondary);
  }
}
