<ion-title class="playing-now">
  <ion-row>
    <ion-col>
      <span>Kygo - Raging ft. Kodaline</span>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <span class="muted">Pascal Brun</span>
    </ion-col>
  </ion-row>
</ion-title>

<ion-buttons end>
  <!--
  if paused!
     <button ion-button light>
       <i class="material-icons">play_arrow</i>
     </button>
  -->
  <button ion-button light>
    <i class="material-icons">pause</i>
  </button>
  <button ion-button light>
    <i class="material-icons">skip_next</i>
  </button>
</ion-buttons>
