page-loading {
  .loading {

    height: 100%;
    width: 100%;
    background-color: color($colors, primary);

    ion-spinner{
      width: 48px;
      height: 48px;
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    ion-spinner * {
      stroke: color($colors, light);
    }

  }
}
